/* --------- */
/* Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */

.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #be50f4 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* --------- */
/* Footer */
/* --------- */

.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.footer-copywright {
  text-align: center !important;
  font-size: 2.25rem; /* 36px */
}

.footer-body {
  z-index: 1;
  text-align: center !important;
  font-size: 2.25rem; /* 36px */
}

@media (max-width: 768px) {
  .footer-copywright {
    /* text-align: center !important; */
    font-size: 1.25rem; /* 20px */
  }

  .footer-body {
    font-size: 1.25rem; /* 20px */
  }
}

/* @media (max-width: 1200px) and (min-width: 1400px) {
  .footer-copywright {
    font-size: 30px;
  }

  .footer-body {
    font-size: 25px;
  }
}

@media (max-width: 1400px) and (min-width: 1800px) {
  .footer-copywright {
    font-size: 36px;
  }

  .footer-body {
    font-size: 30px;
  }
} */

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1rem;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

/* https://codepen.io/charlyarg/pen/GByKja */
/* https://css-tricks.com/single-element-loaders-the-spinner/ */

.loader {
  width: 150px;
  /* control the size */
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(8) infinite;

  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.loader,
.loader:before {
  --_g: linear-gradient(#17177c 0 0) 50%;
  /* update the color here */
  background:
    var(--_g)/34% 8% space no-repeat,
    var(--_g)/8% 34% no-repeat space;
}

.loader:before {
  content: "";
  transform: rotate(45deg);
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

/* --------- */
/* Mission */
/* --------- */

.mission-section {
  position: relative !important;
  background-image: var(--section-background-color) !important;
}

/* --------- */
/* Services */
/* --------- */

.services-section {
  position: relative !important;
  padding-top: 30px !important;
  background-image: var(--section-background-color) !important;
}

/* --------- */
/* Team */
/* --------- */

.team-section {
  position: relative !important;
  background-image: var(--section-background-color) !important;
}

/* --------- */
/* Gallery */
/* --------- */

.gallery-section {
  position: relative !important;
  background-image: var(--section-background-color) !important;
}

/* --------- */
/* Contact Info */
/* --------- */

.contact-info-section {
  position: relative !important;
  background-image: var(--section-background-color) !important;
}

@media (max-width: 767px) {
  .contact-info-card {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
}

@media (max-width: 576px) {
  .contact-info-card {
    padding-bottom: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
}

/* 
  @media (max-width: 990px) {
    .contact-info-card {
      padding-bottom: 0px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
      height: auto !important;
      font-size: 0.5em !important;
    }
  } */

.teamCardAnimation {
  transition: all 0.5s ease 0s !important;
  opacity: 1.0;
  width: "75%";
}

.teamCardAnimation:hover {
  /* transition: all 0.5s ease 0s !important; */
  opacity: 1 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}